* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.bbh-bogle-regular {
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Bungee', cursive;
}

body,
h1,
h2,
h3,
li {
    font-family: 'Roboto', sans-serif;
}


#menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;

    width: 40px;
    height: 30px;

    background: none;
    border: none;
    cursor: pointer;

    z-index: 4000;
}

#menu-btn span {
    display: block;
    height: 4px;
    width: 100%;
    background: white;
    margin: 6px 0;

    transition:
        transform 0.4s ease,
        opacity 0.3s ease;
}

#menu-btn.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-btn.open span:nth-child(2) {
    opacity: 0;
}

#menu-btn.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

#menu-btn.open span {
    background: white;
}



#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity 1s ease;

    z-index: 2500;
}

#menu-overlay a {
    color: white;
    text-decoration: none;
}

#menu-overlay a:hover {
    opacity: 0.7;
}


#menu-overlay ul {
    list-style: none;
    text-align: center;
}

#menu-overlay li {
    color: white;
    font-size: 2rem;
    letter-spacing: 0.2em;
    margin: 20px 0;
}

#menu-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#banner {
    position: fixed;
    /* immer am oberen Bildschirmrand */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /* Höhe des Banners */
    background-color: rgba(0, 0, 0, 0.923);
    /* leicht transparent schwarz */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3500;
    /* über allem außer Overlay */
    pointer-events: none;
    /* lässt Klicks durch */
    opacity: 0;
    /* unsichtbar am Anfang */
    transition: opacity 2s ease;
}

#banner h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3em;
    margin: 0;
}


#social-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 4000;
    /* über Overlay und Button */
    display: flex;
    gap: 15px;
    /* Abstand zwischen den Icons */
}

#social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    /* gleiche Breite wie Menü-Button */
    height: 40px;
    /* gleiche Höhe wie Menü-Button */
    border-radius: 50%;
    /* Kreis */
    background-color: rgba(255, 255, 255, 0.2);
    /* halbtransparentes Weiß */
    color: white;
    /* Icon-Farbe */
    font-size: 1rem;
    /* Icon-Größe */
    text-decoration: none;

    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

#social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /* Hover-Effekt */
    transform: scale(1.1);
    /* leichtes Wachsen beim Hover */
}




#overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-image: url("Tiefenrausch.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 9999;
    opacity: 1;
    transition: opacity 5s ease;
}

#intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(162, 10, 10);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO-HINTERGRUND */
.logo-bg {
    width: 60;
    /* feste, kontrollierbare Größe */
    height: auto;

    background: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO SELBST */
#logo {
    width: 100%;
    /* skaliert IM Kreis */
    height: auto;
    display: block;
    border-radius: 50%;
}


.hero {
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    /* Dunkelheit */
    opacity: 0;
    transition: opacity 3s ease;
}

.hero.active::before {
    opacity: 1;
}

.hero h1 a {
    color: white;
    text-decoration: none;
    font-size: 4rem;
    letter-spacing: 0.2em;
}

.hero h1 {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    letter-spacing: 0.2em;
    position: relative;
    z-index: 1;
    opacity: 0.5;
    transform: translateY(20px);
    transition:
        opacity 3s ease,
        transform 4s ease;
}


.hero.active h1 {
    opacity: 1;
    transform: translateY(0);
}


.band {
    background-image: url("bandfoto2016m.jpg");
    background-position: top center;
}


.musik {
    background-image: url("Tiefenrausch_SO36_12-12-2008_004.jpg");
}

.konzerte {
    background-image: url("Tiefenrausch_SO36_12-12-2008_011.jpg");
}

.gallerie {
    background-image: url("Tiefenrausch_SO36_12-12-2008_113.jpg");
}

.shop {
    /* background-image: url("shop.jpg");*/
    background-color: beige;
}